// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


form {

    h3 {
      margin-bottom: 3%;
    }
  
    margin: 5% 15% 1%;
    .form-row {
      margin-bottom: 2px;
      text-align: justify;
    }
    
    .form-control {
      width: 90%;
    }
    
     margin-top: 2%;
  
     .btn{
      // background-color: #5B8AA8;
      // border-color: #5B8AA8;
      margin: auto;
      margin-top: 1%;
     }

     small {
        margin: auto;
        margin-top: 1%;

      }
  }