// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


form {

    h3 {
      margin-bottom: 3%;
    }
  
    margin: 5% 16% 1%;
    .form-row {
      margin-bottom: 2px;
      text-align: left;
    }
    
    .form-control {
      width: 100%;
    }
    
     margin-top: 2%;
  
     .btn{
      // background-color: #5B8AA8;
      // border-color: #5B8AA8;
      margin: auto;
      margin-top: 1%;
     }
     
     small {
        margin: auto;
        margin-top: 1%;
      }

      a {
          color: #737373;
      }
  }

  #signup {
    background-color: #A7C081;
    color: #ffffff;
    border: none;
  }

  #login {
      margin: 5% 30% 1%;
      #check-remember {
        margin-left: 4%;  
      }
  }

  #signin {
    background-color: #A7C081;
    color: #ffffff;
    border: none;
  }

  #edit {
    margin: 2% 14% 0;
    font-size: 16px;
    
  }

  #btns {
    margin: 0% 42% 1%;

    #update {
        background-color: #A7C081;
        color: #ffffff;
        border: none;
    }

    #cancel {
        color: #A7C081;
        border-color: #A7C081;
    }
}